$fontCormorant: "Cormorant", serif;

$fontGraphikThin: "Graphik-Thin", sans-serif;
$fontGraphik: "Graphik-Regular", sans-serif;
$fontGraphikMedium: "Graphik-Medium", sans-serif;
$fontGraphikSemibold: "Graphik-Semibold", sans-serif;
$fontGraphikBold: "Graphik-Bold", sans-serif;

$fontMADEMirage-Thin: "MADEMirage-Thin", serif;
$fontMADEMirage: "MADEMirage", serif;
$fontMADEMirage-Medium: "MADEMirage-Medium", serif;
$fontMADEMirage-Bold: "MADEMirage-Bold", serif;

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: 0.3s linear;

// colors

$clrDefault: #131413;
$clrWhite: #ffffff;
$clrPrimary: #8cc63f;
$clrContent: #f9f0ec;
$body-color: #131413;
$clrBtn: #8cc63f;
