.expertise__section {
  position: relative;
  padding: 64px 0px;
  @include respond(medium) {
    padding: 44px 0px;
  }
  @include respond(tabland) {
    padding: 32px 0px;
  }
  .section__wrapper-title {
    margin-bottom: -64px;
  }
  .image__block {
    position: relative;
    img {
      width: 100%;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box;
      background: linear-gradient(180deg, #131413 0%, rgba(19, 20, 19, 0) 100%);
    }
  }
}
